body {
  background-color: #FAFAFA;
  font-family: Roboto, sans-serif;
    position: relative;
}

.tabs {
/*  background-color: #2196F3;*/
/*  padding-left: 100px;*/
}

.mdl-navigation__link {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.mdl-grid { /*  To reduce the vertical height between elements */
    padding: 0px 8px;
}

.mdl-cell {  /*  To reduce the vertical height between elements */
    margin: 0 8px;
}


.student_info_form {
  background-color: #fff;
  margin: 48px 16px;
}


#form_header {
  font-size: 24px;
  background-color: #E91E63;
  color: #fff;
  padding: 16px 16px 2px;
  font-weight: 300;

}


.mdl-textfield__label,
.mdl-radio__label {
  color: rgba(0, 0, 0, 0.54);
}

.customLabel { /* For custom label styling used apart from the material design label  */
    font-size: 16px;
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.12);       Black color opacity low */
    padding-bottom: 4px;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.54);
}

.dropdownOptions, /* For dropdown menus  */
{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 4px;
    background-color: transparent;
    margin-bottom: 10px;
/*    margin-left: 16px;*/
    font-family: 'Roboto', sans-serif;
    border: 0px;
    color: rgba(0, 0, 0, 0.70);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);   /*    Black color opacity low */
    transition-duration: 0.2s;
}

.dropdownOptions:focus,
input[type=date]:focus
{
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    outline: none;
    border-bottom: 2px solid #2196F3;   /*    Deep purple color  */
}


.submitButtonDiv {
    position: relative;
    height: 48px;
/*    border: 1px solid blue;*/
}

button[type=submit] {
    position: absolute;
    padding-left: 16px;
    padding-right: 16px;
    right: 48px;
}

@media (min-width:992px) {

    #form_header {
        font-size: 34px;
    }

    .tabs {
/*  background-color: #2196F3;*/
  padding-left: 100px;
}

}
