body {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, sans-serif;
    overflow: auto;

}

.user_name{
    margin:16px;
    font-family:Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}
.mdl-layout__content {
    overflow: auto;
}
.page-content {
    position: relative;
    /*    max-width: 1023px;*/
    display: inline-block;
    margin: 48px 24px 0;
    /*    background-color: white;*/
    padding: 48px 16px;
}
.mdl-cell {
    padding: 16px 0;
}
.cards_layout {
    margin: auto;
}

/*Squre Card*/

.cards_layout > .mdl-card__title {
    color: #fff;
    text-transform: capitalize;
}
#studentInformation {
    background-color: #2196f3;
}
#attendance {
    background-color: #3f51b5;
}
#certificates {
    background-color: #009688;
}
#studentLists {
    background-color: #4caf50;
}
#teacherProfile {
    background-color: #ff9800;
}
#dynamicTables {
    background-color: #795548;
}
#smsGateway {
    background-color: #607D8B;
}
#foodReport {
    background-color: #FF5722;
}
#libraryManagement {
    background-color: #E91E63;
}

#transportSystem{
    background-color: #2196f3;
}
.madeBy {
    display: block;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 700;
}
.madeBy a {
    text-decoration: none;
}
