body {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, sans-serif;
}

.page-content {
    position: relative;
/*    max-width: 1023px;*/
    display: inline-block;
    margin: 48px 24px;
/*    background-color: white;*/
    padding: 48px 16px;
}
.mdl-cell {
    padding: 16px 0;
}
.cards_layout {
    margin: auto;
}

/*Squre Card*/

.cards_layout > .mdl-card__title {
  color: #fff;
    text-transform: capitalize;
}

#studentInformation {
    background-color: #2196f3;
}

#attendance {
    background-color: #3f51b5;
}
#certificates {
    background-color: #009688;
}
#studentLists {
    background-color: #4caf50;
}

#teacherProfile {
    background-color: #ff9800;
}

#dynamicTables {
    background-color: #795548;
}

