.page-content
{
    margin:auto 36px;
}

.contentDiv {
    background-color: white;
}
.mdl-tabs{
    margin: 36px auto;
}
#dvContents {
    overflow: auto;
}

table {
    display: block;
    position: relative;
    margin: 16px 16px 0;
}

.signature {
    height: 96px;
    position: relative;
}
.signature #principalSingature {
    position: absolute;
    left: 96px;
    bottom: 0;
}
.signature #presidentSingature {
    position: absolute;
    text-align: center;
    right: 96px;
    bottom: 0;
}
.printButtonDiv{
    padding: 16px 0 8px 0;
}
#btnPrint {
    position: relative;
    display: block;
    margin: auto;
}
.report_title{
    text-align: center;
    font-size: 18px;
    margin: 8px;
}

.report_sub_title{
    padding: 16px;
    font-size: 16px;
}

