 .exam_div{
  margin: auto;
  padding: 16px;
} 

.que_title{
 font-size: 20px;
}

.error_head{
font-size: 20px;
 color: rgba(255, 0, 0, 0.77);
 text-align: center;
}

.review_head{
font-size: 20px;
 color: rgba(255, 0, 0, 0.77);
 text-align: center;
}

.review_head a,.review_head a:hover{
 text-decoration: none;
}


#strclock{
 margin: 8px;
 font-size: 22px;
 text-align: center;
 color: rgba(255, 0, 0, 0.47);
}

.result_title{
font-size: 20px;
 text-align: center;

}
.option_list{
 margin: 8px auto;
 font-size: 16px;
}

ul li{
 list-style: none;
 font-size: 16px;
}


.bottom_div{
   margin: 16px auto;
   padding: 8px;
}

.submit_anwser{
 margin: 8px;
}
.review_button{
 margin: 8px;
}

@media screen and (min-width: 667px) {
  
 .exam_div{
  margin: 54px;
} 

}