.attendance_div {
    margin: 48px 16px;
    background-color: #fff;

    /*    overflow: scroll;*/
}
.submitAttendance {
    margin: 16px;
/*    margin: 16px auto;*/
}
.dropdownOptions {
    margin-left: 8px;
    position: relative;
    bottom: 8px;
}
@media (min-width: 992px) {
    .attendance_div {
        margin: 48px 24px;
    }
}
