/*
.schoolname,.place{
   text-align: center;
   padding: 5px 0px;
}
*/

.bonafide{
   text-align: center;
   padding: 15px 0px;
}
.regino{
    padding: 20px 0px;
}
/*
.context{
    text-align: justify;
}
*/
/*
.lastdiv{
    padding: 20px 0px 0px 0px;
    width: 250px;
}
.last{
    padding: 10px 0px;
}
*/
/*
.principal{
    float: right;
    margin: -30px 20px 0px 0px;
}*/
