/*  the css has many properties same in the other css files. but as the print function takes this css as its basis
so this css is kept as it is*/

body {
    color: rgba(0, 0, 0, 0.87);
}
p,h1,h2,h3,h4,h5{
     margin: 0px;
    padding: 0px;
}

.reg_info {
    /*    width: 950px;*/
    margin: 48px 16px;
    background-color: white;
    padding: 16px;
}
#showCertificateButton {
    position: relative;
    left: 48px;
}
.main{
    width: 650px;
    margin: 20px auto;
    border: 1px solid #898989;
}
.photo{
    width: 200px;
    height: 250px;
    margin: 50px 0px 0px 0px;
    float: left;
    text-align: center;
}
.headdata{
    text-align: center;
}
.studentinfo{
    position: relative;
    padding: 0px;  
}
.studentinfo td{
    padding: 0px;
}
.image{
    width: 150px;
    height: 150px;
}
.principal{
    padding: 5px 0px 0px 55%;
/*    text-align: center;*/
    margin: 15px auto;
}

#btnPrint {
    display: block;
    margin: auto;
}


@media (min-width: 992px) {
    .reg_info {
        margin: 48px 24px;
    }
}