/*  the css has many properties same in the other css files. but as the print function takes this css as its basis
so this css is kept as it is*/

body {
    color: rgba(0, 0, 0, 0.87);
}
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    padding: 0px;
}
.reg_info {
    /*    width: 950px;*/
    margin: 48px 16px;
    background-color: white;
    padding: 16px;
}
#showCertificateButton {
    position: relative;
    left: 48px;
}
.main {
    /*    width: 650px;*/
    margin: 20px 16px;
    background-color: white;
    border: 1px solid #9E9E9E;
    padding: 30px 20px;
    position: relative;
}
.headname,
.schoolname {
    text-align: center;
    margin: 10px auto;
}
.place {
    text-align: center;
    padding: 5px 0px 15px;
}
.tabledata {
    border: 1px solid rgb(140, 140, 140);
    text-align: center;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #424242;
}
th {
    border-left: 1px solid #424242;
}
td {
    border-left: 1px solid #424242;
}
.info {
    padding: 35px 1px;
}
.principal {
    margin-top: 48px;
}
#btnPrint {
    display: block;
    margin: auto;
}
@media (min-width: 992px) {
    .reg_info {
        margin: 48px 24px;
    }
    .main {
        margin: 20px 24px;
    }
}
