body {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, sans-serif;
    overflow: auto;
}
.user_name {
    margin: 16px auto;
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    text-transform: capitalize;
}
.mdl-layout__content {
    overflow: auto;
}
.page-content {
    position: relative;
    /*    max-width: 1023px;*/
    /*    display: inline-block;*/
    margin: 48px auto;
    /*    background-color: white;*/
    padding: 48px 16px;
}
.cards_layout {
    max-width: 480px;
    margin: 32px auto;
}

/*Squre Card*/

.cards_layout > .mdl-card__title {
    color: #fff;
    padding-top: 120px;
    padding-bottom: 16px;
    text-transform: capitalize;
}
#studentInformation {
    background-color: #2196f3;
}
#attendance {
    background-color: #3f51b5;
}
#certificates {
    background-color: #009688;
}
#studentLists {
    background-color: #4caf50;
}
#teacherProfile {
    background-color: #ff9800;
}
#dynamicTables {
    background-color: #795548;
}
#smsGateway {
    background-color: #607D8B;
}
.madeBy {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 700;
}
.madeBy a {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    transition-duration: 0.2s;
}
.madeBy a:hover {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}
