body {
    background-color: #fafafa;
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}
.page-content {
/*    display: block;*/
    max-width: 452px;
    margin: 96px auto;
}
.contentHeader {
    font-size: 24px;
    /*    text-transform: capitalize;*/
    margin: 0;
    color: rgba(0, 0, 0, 0.54);
}
.contentDiv {
    position: relative;
/*    display: inline-block;*/
    background-color: white;
    margin: auto;
    padding: 48px 16px 16px;
    margin-bottom: 16px;
    /*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);*/
}
.uploadPicDiv {
    background-color: white;
    padding: 16px;
    height: 36px;
    position: relative;
}
.editProfile {
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.54;
    transition-duration: 0.2s;
}
.editProfile:hover,
.editProfile:focus {
    opacity: 1;
}
.backButton {
    padding: 12px;
    position: absolute;
    left: 0;
    top: 0;
}
.profilePicture {
    height: 96px;
    width: 96px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: block;
    margin: 0px auto 16px;
    border-radius: 50%;
}
.contentDiv td>label {
    font-weight: 700;
/*    padding-right: 16px;*/
}
td {
    padding: 8px 16px 8px 0;
}

.updateButton {
    position: relative;
    height: 36px;
}
.updateButton button {
    position: absolute;
    right: 0;
    bottom: 0;
}
.uploadPicDiv button {
    position: absolute;
    right: 16px;
}
@media (min-width: 992px) {
    .page-content {
/*        margin: 96px 24px;*/
    }
}
