.student_list {
    margin: 48px 16px;
}
.showDataDiv {
/*    margin: 48px 16px;*/
    background-color: white;
    padding: 16px;
}
/*  To style only the dropdown menus in the LISTS section of the system*/
.dropdownOptions {
    margin-left: 8px;
    position: relative;
    bottom: 8px;
}

#showDataButton {
    position: relative;
    left: 48px;
}
@media (min-width: 992px) {
    .student_list {
        margin: 48px 24px;
    }
}
