*{
/*    border: 1px solid #838383;*/
}
.dataadd{
    margin: 100px auto 0px;
}
.text{
    width: 200px;
    height: 30px;
    font-size: 18px;
    padding: 0px 10px;
    margin: 0px auto 10px;
    border: 0px;
    background-color: #acacac;
    border-radius: 5px;
}
.submitbtn{
    margin: 0px auto 15px;
}
.submittable{
     margin: 30px auto 0px;
}
.sub{
    margin:  0px auto 10px;
}
.buttons a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.abutton{
    margin: 0px 0px 15px 10px;
}