body {
    background-color: #fafafa;
    font-family: Roboto, sans-serif;
}
.page-content {
    display: block;
    margin: 96px 16px;
}

.contentDiv {
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 48px 16px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}
.backButton {
    padding: 12px;
    position: absolute;
    left: 0;
    top: 0;
}
.labelAndInput {
    display: block;
}
.labelAndInput label {
    
}
/*
.text{
    width: 200px;
    height: 30px;
    font-size: 18px;
    padding: 0px 10px;
    margin: 0px auto 10px;
    border: 0px;
    background-color: #acacac;
    border-radius: 5px;
}
*/
/*
.submitbtn{
    margin: 0px auto 15px;
}
.submittable{
     margin: 30px auto 0px;
}
.sub{
    margin:  0px auto 10px;
}
.buttons a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.abutton{
    margin: 0px 0px 15px 10px;
}*/
