body {
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}
.contentHeader {
    font-size: 24px;
    background-color: #8bc34a;
    color: black;
    margin: 0;
    padding: 16px 16px 4px;
}
.page-content {
    width: 600px;
    margin: 96px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}
.contentDiv {
    padding: 16px;
}
.mdl-textfield {
    display: block;
}

#btnAddAddress {
    margin: 16px 0;
}
#submitButton {
    position: relative;
    height: 36px;
}
#submitButton input {
    position: absolute;
    right: 0;
}
