body {
    background-color: #fafafa;
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}
.contentHeader {
    font-size: 24px;
    margin: 0;
    color: rgba(0, 0, 0, 0.54);
}
.page-content {
    width: 600px;
    margin: 96px 16px;
}
.contentDiv {
    padding: 48px 16px 16px;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}
.backButton {
    padding: 12px;
    position: absolute;
    left: 0;
    top: 0;
}
.mdl-textfield {
    display: block;
}
#btnAddAddress {
    margin: 16px 0;
}
#submitButton {
    position: relative;
    height: 36px;
}
#submitButton input {
    position: absolute;
    right: 0;
}
@media (min-width: 992px) {
    .page-content {
        margin: 96px 24px;
    }
}
