body {
    background-color: #fafafa;
    font-family: Roboto, sans-serif;
}
.page-content {
    position: relative;
    max-width: 1023px;
    margin: 96px auto;
    background-color: white;
    padding: 48px 16px;
    /*    border: 1px solid rgba(0, 0, 0, 0.12);*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);*/
}
.addTable {
    position: absolute;
    right: 28px;
    top: -28px;
}

/*Square card*/

.demo-card-square.mdl-card {
    width: 280px;
    height: 160px;
    margin: auto;
    margin-bottom: 16px;
}
.demo-card-square > .mdl-card__title {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    background: #8BC34A;
}
