body {
    background-color: #fafafa;
    font-family: Roboto, sans-serif;
}
.page-content {
    display: block;
    margin: 96px 16px;
}
.contentHeader {
    font-size: 24px;
    text-transform: capitalize;
    margin: 0;
    color: rgba(0, 0, 0, 0.54);
       
}
.contentDiv {
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 48px 16px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
      width: 100%;
}
.backButton {
    padding: 12px;
    position: absolute;
    left: 0;
    top: 0;
}
.deleteRowButton {
    outline: none;
    border: 0;
    background-color: transparent;
}
#dvContents {
    margin: 16px 0;
}
/*
.scroll{
  overflow:auto;
}
*/
table{
    display:inline-block;
    width: 99%;
    overflow:auto;
}
@media (min-width: 992px) {
    .page-content {
        margin: 96px 24px;
    }
    /*
    table {
        display: block;
        overflow-x: auto;
    }
*/
}
