body {
    font-family: Roboto, sans-serif;
}
.page-content {
    display: block;
    margin: 96px 16px;
}
.contentDiv {
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 48px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}
.backButton {
    position: absolute;
    left: 0;
    top: 0;
}

@media (min-width: 992px) {
    .page-content {
        margin: 96px 24px;
    }
}