body {
    background-color: #A1887F;
    font-family: Roboto, sans-serif;
}
.page-content {
    position: relative;
/*    max-width: 1023px;*/
    margin: 46px;
    background-color: white;
    padding: 48px 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    height: 700px;
}
 
#get_student_div{
/*     float:left*/
     display: inline-block;
}

#student_display{
    float: right;
}